body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #0f172a;
    color: white;
    text-align: center;
}

header {
    padding: 50px;
    background: #020617;
}

h1 {
    font-size: 40px;
}

section {
    padding: 40px;
}

.project-card {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
    width: 60%;
    margin: auto;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.buttons a {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background: #38bdf8;
    color: black;
    text-decoration: none;
    border-radius: 5px;
}

.buttons a:hover {
    background: #0ea5e9;
}

.skills span {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    background: #1e293b;
    border-radius: 5px;
}

footer {
    padding: 20px;
    background: #020617;
}